---
import MainLayout from "../../layout/MainLayout.astro";
import Button from "../../components/Button.astro";
import WorkshopShelf from "../../components/WorkshopShelf.astro";
import Newsletter from "../../components/Newsletter.astro";
// jeg oplevede at jeg fik en fejl nede i min body hvor fejlen lød på property "name" does not exist on type "never"
// // Jeg har derfor benyttet nedenstående kode til at få Types ript til at forstå hvilken slags data mine objekter indeholder. *Denne løsning har jeg fået fra ChatGPT.
interface Workshop {
  id: number;
  name: string;
  image: string;
  price: number;
  location: string;
  date: string;
  start_time: string;
  end_time: string;
  description: string;
  sold_out: boolean;
  spots: number;
}
export async function getStaticPaths() {
  const data: Workshop[] = await fetch("https://lcfiilplolafhgotzgrk.supabase.co/rest/v1/workshops", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxjZmlpbHBsb2xhZmhnb3R6Z3JrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3MzM4NjEsImV4cCI6MjAzMDMwOTg2MX0.NG1pwR1rYfymfHS_elIDmB5V-2TOWGrrPumjrgwhDp4",
    },
  }).then((response) => response.json());

  return data.map((workshop) => {
    return {
      params: { slug: workshop.name + workshop.id },
      props: { myData: workshop },
    };
  });
}
const { myData } = Astro.props;

function formatDate(dateString) {
  const date = new Date(dateString);
  const day = date.getDate();
  const month = date.toLocaleString("da-DK", { month: "short" });
  return `${day}. ${month}`;
}
---

<MainLayout>
  <div class="header_background"></div>
  <section class="workshop_grid">
    <div>
      <img class="workshop_img" src=`/workshops/${myData.image}` alt=`billede af ${myData.name}` />
    </div>
    <div class="workshop_info">
      <h1>{myData.name}</h1>
      <p>Fra {myData.price} DKK</p>
      <div class="lokation"><p><span><img src="/logo/location-black.svg" alt="location logo" /></span>{myData.location}</p> <p class="adress">Oscar Pettifords Vej 23 8th, 2450 København S</p></div>
      <div class="dato_tid">
        <div class="dato"><p><span><img src="/logo/calender-black.svg" alt="" /></span>{formatDate(myData.date)}</p></div>
        <div class="tid"><p><span><img src="/logo/time-black.svg" alt="" /></span>{myData.start_time.slice(0, 5)}-{myData.end_time.slice(0, 5)}</p></div>
      </div>
      <div class="choose_amount">
        <button>-</button>
        <span class="show_amount">1</span>
        <button>+</button>
      </div>
      <p>{myData.sold_out ? "Ingen ledige pladser" : `${myData.spots} pladser tilgængelige`}</p>
      <div class="buy_button">
        <Button type={myData.sold_out ? "sold_out" : "primary"} knaptekst={myData.sold_out ? "Udsolgt" : "Læg i kurv"} link="/" />
      </div>
      <div class="description"><h3>Workshopbeskrivelse</h3><p>{myData.description}</p></div>
    </div>
  </section>
  <section class="workshop_shelf">
    <h2>Andre kunder har også set</h2>
    <WorkshopShelf />
    <div><Button type="secondary" knaptekst="Se alle workshops" link="book_workshop" /></div>
  </section>

  <section class="newsletter">
    <Newsletter />
  </section>

  <style>
    .workshop_info {
      margin-inline: var(--default-inline);
      display: flex;
      flex-direction: column;
      margin-block-start: var(--padding-xl);
      margin-block-end: var(--padding-xxl);
    }
    .workshop_img {
      aspect-ratio: 1;
      object-fit: cover;
    }
    span img {
      width: 1rem;
      height: 100%;
    }
    .dato_tid {
      display: flex;
      gap: 2rem;
      padding: 0;
      margin-bottom: var(--padding-xl);
      margin-top: 0.3rem;
    }
    .dato_tid span,
    .lokation span {
      margin-right: 0.7rem;
    }

    .lokation {
      margin-top: var(--padding-m);
    }
    .adress {
      font-weight: var(--paragraph-weight-thin);
      font-size: 0.7rem;
      margin-left: 1.7rem;
      margin-bottom: var(--padding-xs);
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    button {
      background-color: transparent;
      padding-inline: 1.5rem;
      padding-block: 0.6rem;
      border: 1px solid black;
      cursor: pointer;
    }
    .choose_amount {
      display: flex;
      margin-bottom: var(--padding-xs);
    }
    .show_amount {
      width: 100%;
      border: 1px solid black;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .buy_button {
      align-self: center;
      margin-block: var(--padding-xl);
    }
    .workshop_shelf {
      display: flex;
      flex-direction: column;
      margin-block: var(--padding-xl);
    }
    .workshop_shelf div {
      align-self: center;
    }

    .workshop_shelf h2 {
      margin-inline: var(--default-inline);
      margin-block: var(--padding-xl);
    }

    @media screen and (min-width: 650px) {
      .header_background {
        width: 100%;
        background-color: rgb(28, 42, 28);
        height: 70px;
      }
      .workshop_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-inline: var(--default-inline);
        padding-top: 5rem;
      }
      .workshop_info {
        margin-block-start: initial;
      }
      .workshop_img {
        aspect-ratio: 8/9;
        max-width: 30rem;
        border-radius: 5px;
      }
      .lokation {
        margin-top: var(--padding-xs);
      }
      .choose_amount {
        max-width: 15rem;
      }
      .buy_button {
        align-self: initial;
        margin-block: var(--padding-s);
      }
    }
  </style>
</MainLayout>
