---
import { date } from "astro/zod";
import WorkshopCard from "./WorkshopCard.astro";
const data = await fetch("https://lcfiilplolafhgotzgrk.supabase.co/rest/v1/workshops", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxjZmlpbHBsb2xhZmhnb3R6Z3JrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3MzM4NjEsImV4cCI6MjAzMDMwOTg2MX0.NG1pwR1rYfymfHS_elIDmB5V-2TOWGrrPumjrgwhDp4",
  },
}).then((res) => res.json());
---

<section class="workshop_grid">
  {
    data.map((workshop) => {
      return <WorkshopCard id={workshop.id} name={workshop.name} location={workshop.location} image={workshop.image} start={workshop.start_time} end={workshop.end_time} date={workshop.date} price={workshop.price} />;
    })
  }
</section>

<style>
  .workshop_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-inline: var(--default-inline);
    justify-content: center;
    margin-block: 4rem;
  }
</style>
