---
import WorkshopCard from "./WorkshopCard.astro";
const data = await fetch("https://lcfiilplolafhgotzgrk.supabase.co/rest/v1/workshops?limit=3", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxjZmlpbHBsb2xhZmhnb3R6Z3JrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3MzM4NjEsImV4cCI6MjAzMDMwOTg2MX0.NG1pwR1rYfymfHS_elIDmB5V-2TOWGrrPumjrgwhDp4",
  },
}).then((res) => res.json());
---

<section class="workshop_shelf">
  {
    data.map((workshop) => {
      return <WorkshopCard id={workshop.id} name={workshop.name} location={workshop.location} image={workshop.image} start={workshop.start_time} end={workshop.end_time} date={workshop.date} price={workshop.price} sold_out={workshop.sold_out} />;
    })
  }
</section>

<style>
  .workshop_shelf {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-block-end: 2.5rem;

  }
  .workshop_shelf::-webkit-scrollbar {
    display: none;
  }
  .workshop_shelf > * {
    flex: 0 0 auto;

  }
  @media screen and (min-width: 750px){
    
  }
</style>
