---
const { name, location, image, start, end, date, price, id, sold_out } = Astro.props;

// Her formaterer vi, dog på vores dato så der i stedet for står dagen og måneden. *OBS ChatGPT har hjulpet med at finde overordnede metoder til at kunne løse denne.
function formatDate(dateString) {
  const date = new Date(dateString);
  const day = date.getDate();
  const month = date.toLocaleString("da-DK", { month: "short" });
  return `${day}. ${month}`;
}
---

<article>
  <div class="span_sold_out">{sold_out === true && "Udsolgt"}</div>
  <a href={`/workshop/${name + id}`}>
    <div class=`${sold_out ? "is_sold_out" : "gradient"}`></div>
    <img class={sold_out === !false && "is_sold_out"} src={`/workshops/${image}`} alt={`billede af ${name}`} />
    <div class="lokation"><p><span><img src="/logo/location-white.svg" alt="location logo" /></span>{location}</p></div>
    <div class="main_info">
      <h3>{name}</h3>
      <div class="dato_tid">
        <div class="dato"><p><span><img src="/logo/calender-white.svg" alt="" /></span>{formatDate(date)}</p></div>
        <div class="tid"><p><span><img src="/logo/time-white.svg" alt="" /></span>{start.slice(0, 5)}-{end.slice(0, 5)}</p></div>
      </div>
      <div class="pris"><p class={`${sold_out === true && "is_sold_out_dash"}`}>Fra {price} DKK</p> </div>
    </div>
  </a>
</article>

<style>
  article {
    position: relative;
    width: 100%;
    min-width: 20rem;
    height: 17rem;
    border-radius: 5px;
    overflow: hidden;
  }
  a {
    height: 100%;
    display: grid;
    position: relative;
  }
  h3 {
    color: var(--light-white);
  }

  img {
    grid-column: 1;
    grid-row: 1;
    object-fit: cover;
    height: 100%;
    aspect-ratio: 16/9;
  }
  span img {
    aspect-ratio:initial;
    width: 1rem;
  }
  .gradient {
    position: absolute;
    background-image: linear-gradient(to top,rgba(40,33,26,.8) 100%,transparent);
    opacity: 50%;
    height: 100%;
    width: 100%;
  }
  div {
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    color: var(--light-white);
    align-self: end;
  }
  .main_info,
  .lokation {
    padding: 1rem;
  }
  .lokation {
    place-self: start end;
  }
  p {
    margin-bottom: 0.3rem;
  }
  .dato_tid {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin-bottom: 1.25rem;
    margin-top: 0.3rem;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .dato_tid span {
    margin-right: 0.7rem;
  }
  .lokation span{
    margin-right: 0.7rem;
  }

  .dato,
  .tid {
    display: flex;
  }
  .is_sold_out {
    position: absolute;
    opacity: 60%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 100%, transparent);
    height: 100%;
    width: 100%;
  }
 
  .is_sold_out_dash {
    text-decoration: line-through;
  }
  .span_sold_out {
    position: absolute;
    background-color: white;
    color: black;
    left: 1rem;
    top:1rem;
    padding-inline: 1rem;
    z-index: 100;
    font-weight: 500;
  }
  .pris {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
</style>
