---
const { name, location, image, start, end, date, price, id } = Astro.props;

// Denne funktion formaterer vores timestamp fra Supabase og fjerner de sidste to cifre da vi ikke har brug fro at vise sekunder. Dette gælder både start og slut tidspunkt.
function formatTime(time) {
  return time.slice(0, 5);
}

// Her formaterer vi igen, dog på vores dato så der i stedet for står dagen og måneden. *OBS ChatGPT har hjulpet med at finde overordnede metoder til at kunne løse denne.
function formatDate(dateString) {
  const date = new Date(dateString);
  const day = date.getDate();
  const month = date.toLocaleString("da-DK", { month: "short" });
  return `${day}. ${month}`;
}
---

<article>
  <a href={`workshop/${name + id}`}>
    <div class="gradient"></div>
    <img src={`/workshops/${image}`} alt={`billede af ${name}`} />
    <div class="lokation"><p><span><img src="/logo/location.svg" alt="location logo" /></span>{location}</p></div>
    <div class="main_info">
      <h3>{name}</h3>
      <div class="dato_tid">
        <div class="dato"><span><img src="/logo/calender.svg" alt="" /></span>{formatDate(date)}</div>
        <div class="tid"><span><img src="/logo/time.svg" alt="" /></span>{formatTime(start)}-{formatTime(end)}</div>
      </div>
      <p class="pris">Fra {price} DKK</p>
    </div>
  </a>
</article>

<style>
  article {
    color: var(--light-black);
    width: 100%;
    max-width: 25rem;
    height: 17rem;
    border-radius: 5px;
    overflow: hidden;
  }
  a {
    height: 100%;
    display: grid;
    position: relative;
  }

  img {
    grid-column: 1;
    grid-row: 1;
    object-fit: cover;
    height: 100%;
    aspect-ratio: 16/9;
  }
  span img {
    aspect-ratio: 1;
  }
  .gradient {
    position: absolute;
    background-image: linear-gradient(to top, rgba(22, 22, 22, 0.6) 20%, transparent);
    height: 100%;
    width: 100%;
  }
  div {
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    color: white;
    align-self: end;
  }
  .main_info,
  .lokation {
    padding: 1rem;
  }
  .lokation {
    place-self: start end;
  }
  p {
    margin-bottom: 0.3rem;
  }
  .dato_tid {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin-bottom: 1.25rem;
    margin-top: 0.3rem;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .dato_tid span {
    margin-right: 0.7rem;
  }

  .dato,
  .tid {
    display: flex;
  }
</style>
